* {
  margin:0;
  padding: 0 auto;
  box-sizing: border-box;
}
body {
  color:#273238;
  font-family: 'Segoe UI', Tahoma, 'Geneva', Verdana, sans-serif;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
}
.logo {
  cursor: pointer;
}
.header span {
  color:#3bc4a1
}
nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.nav-links {
  list-style: none;
}
.nav-links li {
  display: inline-block;
  padding: 0px 20px;
}
.sign-button {
  padding: 9px 25px;
  background-color: #fff;
  color: #273238;
  font-weight: 700;
  border: none;
  border-radius: 50px !important;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}
.sign-button:hover {
  background-color: #3bc4a1;
  color: #fff;
}
.main {
  height: 100vh;
  padding: 10% 10%;
  background-image: url('./assets/bg.jpg');
  background-repeat: no-repeat;
  background-position: right;
  background-size: 600px;
}
.left {
  width:600px;
}
.left-para {
  width: 700px;
  color: #808080;
  font-size: 12pt;
}
.left-para span {
  color:#3bc4a1;
  font-weight: 500;
}
.st-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  width:200px;
  padding: 10px 10px;
  background-color: #3bc4a1;
  color: #fff !important;
  font-weight: 700;
  font-size: 15px;
  border: 0px;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.5s ease 0s;
  box-shadow: 1px 5px 10px #3bc4a1;
}
.st-btn:hover {
  letter-spacing: 5px;
  transition: all .5s ease-in-out;
  box-shadow: 5px 5px 20px #3bc4a1;
  width:250px;
}
.st-btn a {
  color:#fff !important;
}
#about {
  height:100vh;
  background-color: #f3fbf9;
  padding: 6% 0px;
}
.abt-head {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-v {
  width: 800px;
  height: 450px;
  border-radius: 30px;
  box-shadow: 5px 5px 10px #808080;
}
.explore-btn {
  display: flex;
  justify-content: center;
  color: #fff;
}
.feature {
  display: flex;
  flex-direction: column;
  padding: 6% 10%;
}
.card {
  display: flex;
  gap:30px;
  height:400px;
}
.card-ft {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap:10px;
  padding: 20px 10px;
}
.ft-img {
  width: 500px;
  height: 350px;
  border-radius: 20px;
}
.contact {
  display:flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Courgette', cursive;
  color: #3bc4a1;
  font-weight: 900;
}
input[type="text"] {
  height:30px;
  width:300px;
  border: 1px solid #808080;
  border-radius: 5px;
  padding:5px;
}
input[type="text"], textarea {
  border:1px solid #3bc4a1;
  height: 50px
}
textarea {
  height:100px;
  width:300px;
  border-radius: 5px;
  padding:5px;
}
input[type="submit"], .sendbtn {
  height:30px;
  width:150px;
  color:#fff;
  font-family: 'Courgette', cursive;
  font-size: 14pt;
  background: linear-gradient(116.28deg, #1a614f 14.63%, #3bc4a1 91.24%);
  border:1px solid #808080;
  box-shadow: 2px 3px 5px #808080;
  border-radius: 20px;
  transition: .5s all ease-in-out;
}
input[type="submit"]:hover {
  width:250px;
  letter-spacing: 5px;
  background: linear-gradient(116.28deg, #3bc4a1 14.63%, #1a614f 91.24%);
  transition: .5s all ease-in-out;
}
footer {
  height: 100px;
  padding: 50px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
